services:
  api:
    build:
      context: .
      dockerfile: docker/Dockerfile.api
    container_name: fastapi_app
    ports:
      - "8000:8000"
    env_file:
      - .env
  
  streamlit:
    build:
      context: .
      dockerfile: docker/Dockerfile.streamlit
    container_name: streamlit_app
    ports:
      - "8501:8501"
    env_file:
      - .env
    depends_on:
      - api
    